
/************
 *   link   *
 ***********/

A          {color : #D1D3FD; }
A:Visited  {color : #D1D3FD; }
A:Active   {color : #D1D3FD; }
A:Hover    {color : #FFFFFF; text-decoration : none; }

/*************
 *   body    *
 ************/

BODY 	{
  		     color      : #FFFFFF;
	background-color      : #FFFFFF;
	margin-left           : 8;
	margin-top            : 8;
}


/******************************
 *    class used to display   *
 *    the input field labels  *
 *****************************/
P.LABEL {
     	           color : #FFFFFF;
  	     font-weight : bold;
}
TH.LABEL {
		text-align:right;
}


H3 {
	color : #FFFFFF;	
}

/*******************************************
 * class for the title of the subscription *
 ******************************************/
P.SUBSCRIPTION {
		  color : #FFFFFF;
		  font-family: arial;
		  font-weight : bold;
		  text-align : center;
		  font-size : 16px;
}
/********************************************************
 * color of the thin line surrounding the subscriptions *
 *******************************************************/
TABLE.SUBSCRIPTION {
		background-color : #000000;
}
/*************************
 * class for the headers *
 ************************/
TH.SUBSCRIPTION {
		color      : #FFFFFF;
		background-color : #274465;
		font-weight: bold;			
}
/*******************************
 * class for the subscriptions *
 ******************************/
TD.SUBSCRIPTION {
		color      : #FFFFFF;
		background-color : #336699;
}


P.SUBS {
		  color : #FFFFFF;
		  font-family: arial;
		  font-weight : bold;
		  text-align : center;
		  font-size : 16px;
}

TABLE.SUBS {		
		background-color : #274465;
		border-collapse: collapse;	
}
TABLE.subs2 {
		background-color : #000000;
}



TH.SUBS {
		color      : #FFFFFF;
		background-color : #274465;
		font-weight: bold;			
		text-align : left;
		font-size : 16px;
		font-family: arial;
}

TR.SUBS {
		background-color : #3366A3;
}


TD.SUBS {
		color      : #FFFFFF;
		background-color : #3366A3;
}



/*******************************
 *  background color to use to *
 *  display the errors         *
 ******************************/
TD.ERROR {
		background-color : #ED4F50;
}

/***********************************************
 * color of the thin line surrounding the form *
 **********************************************/
TABLE.FORM {		
		background-color : #000000;
}
/**************************************
 * background color of the form title *
 *************************************/
TH.FORM {
		color      : #FFFFFF;
		background-color : #274465;
		font-weight: bold;			
}
/********************************
 * background color of the form *
 *******************************/
TD.FORM {
		background-color :  #336699;
}

TD.PAGER {
	background-color :  #3366A3;
	text-align: center;
}

.ongletMain {
	BORDER-RIGHT: #80add6 2px solid; 
	BORDER-TOP: medium none; 
	BORDER-LEFT: #80add6 2px solid; 
	BORDER-BOTTOM: #80add6 2px solid; 
	BACKGROUND-COLOR: #dce8f4;
}

.clsAction {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	COLOR: #053c6d; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}


.ongletTextEna {
	BORDER-RIGHT: #80add6 2px solid; 
	BORDER-TOP: #80add6 2px solid; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	BORDER-LEFT: #80add6 2px solid; 
	COLOR: #005386; 
	BORDER-BOTTOM: medium none; 
	FONT-FAMILY: verdana; 
	BACKGROUND-COLOR: #dce8f4; 
	TEXT-ALIGN: center;
}

.ongletTextDis {
	BORDER-RIGHT: #c5c5c5 1px solid; 
	BORDER-TOP: #c5c5c5 1px solid; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	BORDER-LEFT: #c5c5c5 1px solid; 
	COLOR: #80add6; 
	BORDER-BOTTOM: #80add6 2px solid; 
	FONT-FAMILY: verdana; 
	BACKGROUND-COLOR: #e6e6e6; 
	TEXT-ALIGN: center;
}

.ongletTextErr {
	BORDER-RIGHT: #c5c5c5 1px solid; 
	BORDER-TOP: #c5c5c5 1px solid; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	BORDER-LEFT: #c5c5c5 1px solid; 
	COLOR: #FFFFFF; 
	BORDER-BOTTOM: #80add6 2px solid; 
	FONT-FAMILY: verdana; 
	BACKGROUND-COLOR: #ED4F50;
	TEXT-ALIGN: center;
}

.ongletMiddle {
	BORDER-RIGHT: #80add6 2px solid; 
	BORDER-TOP: medium none; 
	FONT-SIZE: 1px; 
	BORDER-LEFT: #80add6 2px solid; 
	BORDER-BOTTOM: medium none; 
	BACKGROUND-COLOR: #dce8f4;
}

.ongletSpace {
	BORDER-BOTTOM: #80add6 2px solid;
}

/***********************
 *  Code personnalise  *
 **********************/

.listeDeroulanteCal {font-family: Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: bold; color: #336699; BACKGROUND-COLOR: #bdccdb}

a.CAL_JOUR {font-family: Verdana, Helvetica, sans-serif; font-size: 13px; color: #000000; text-decoration: none; font-weight: bold}
A.CAL_JOUR:link {font-family: Verdana, Helvetica, sans-serif; font-size: 13px; color: #000000; text-decoration: none; font-weight: bold}
A.CAL_JOUR:visited {font-family: Verdana, Helvetica, sans-serif; font-size: 13px; color: #000000; text-decoration: none; font-weight: bold}
A.CAL_JOUR:hover {font-family: Verdana, Helvetica, sans-serif; font-size: 13px; color: #000000;  background-color : #FF8F01; font-weight: bold}
A.CAL_JOUR:active {font-family: Verdana, Helvetica, sans-serif; font-size: 13px; color: #000000; text-decoration: none; font-weight: bold}

.CAL_ENTENTE {  font-family: Verdana, Helvetica, sans-serif; font-size: 11px;text-align: center; font-style: normal; font-weight: bold; color: #ffffff}

TABLE.CALENDRIER {	align : right;	
		background-color : #336699;
}
TH.CALENDRIER {
		align : right;
		color      : #000000;
		background-color : #f3ce83;
		font-size: 12px; font-family: Geneva, Arial, Helvetica, san-serif;  color: #000000; font-weight: bold			
}

TD.CALENDRIER {
		background-color :  #bdccdb;
		font-size: 12px; font-family: Geneva, Arial, Helvetica, san-serif;  color: #000000
}


