﻿/* CSS spécifique à l'application, permet de surcharger les styles de l'organisation */


.box {
	position: relative;
}

#message_erreur {
	margin: 10px 0!important;
	background-color: transparent!important;
}

.formList {
	list-style: none;
	padding: 0;
	position: relative;
}

.formList li {
	margin:5px 0;
}

.formList label {
	width: 200px;
	float: left;
	text-align: right;
	padding-right: 10px;
	padding-top: 2px;
}

.bouton {
  margin-right: 5px;
}

.boutondisabled { 
  float: right;
  margin-right: 100px;
}

.listeFleches {
	list-style: none;
	padding: 0;
	text-align: right;
	width: 100%;
	margin: 20px 0 0!important;
}

.zoneMessageFormulaireSimple {
  float:left;
  padding-left:3px; 
  padding-top: 0px;
  padding-bottom: 0px;
  vertical-align: middle;
}

.zoneMessageFormulaireMultiple  {
  float:left;
  padding-left:3px; 
  padding-top: 0px;
  padding-bottom: 2px;
  vertical-align: middle;
}

#corps {
	position: relative;
	margin: 10px auto;
	padding-left: 25px!important;
	padding-right: 25px!important;
	padding-bottom: 25px!important;
	padding-top:25px!important;
	width: 55%;
	background: #EEE;
	border-radius: 10px;
	box-shadow: 1px 1px 5px black;
	font-size: 1.2em !important;
}

.listeServices {
	list-style: square;
	font-size: 12px;
	font-weight: normal;
}

.listeServices li {
	margin-bottom:10px;
}

#recaptcha_area, #recaptcha_table {
	margin: 0 auto!important;
}

.servicesOfferts {
	font-size: 14px;
}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

input, textarea, select {
  padding : 2px;
  font-size: 1em;
}

.saisieFocus {
  padding:3px;
}

h2 { 
  color: #000;
}

.zoneBouton {
	text-align:right;
}

.title-services {
  font-size: 18px;
}
.password  {
	font-size: 12px;
  padding-top: 12px;
}

.lastSignIn  {
  font-size: 11px;
  padding-top: 12px;
}

