#logo_general {
	background: #222222 !important;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#222222, #555555) !important;
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#222222, #555555) !important;
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#222222, #555555) !important;
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#222222, #555555) !important;
	/* Standard syntax */
	background-repeat: no-repeat;
}

#innerFooterBox {
	background: #222222 !important;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#555555, #222222) !important;
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#555555, #222222) !important;
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#555555, #222222) !important;
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#555555, #222222) !important;
	/* Standard syntax */
}

#bouton_accueil {
	background: none !important;
	padding-top: 10px;
	padding-left: 15px;
	float: none;
}

#bouton_accueil a {
	background-repeat: no-repeat;
	height: 100px;
	width: 300px;
}

#contenant {
	width: 98%;
}

#contenant #corps {
	margin: 100px auto;
}

#contenant	#corps {
	width: 100%;
	min-width: 300px;
	max-width: 500px;
	border-radius: 0px;
	box-shadow: none;
	box-sizing: border-box;
}

#message_erreur  {
	margin-bottom: 0px !important;
}

#contenant .zoneMessageFormulaireSimple {
	border: none;
	background: none;
	padding-left: 0px;
	margin-bottom: 0px;
}

#contenant span.message_icone_information::before {
	font-family: 'FontAwesome';
	font-size: 18px;
	content: "\f05a";
	margin-right: 5px;
	color: #484848;
	position: relative;
	top: 2px;
	-webkit-font-smoothing: antialiased;
}

#contenant span.message_icone_information {
	font-size: 12px;
	background: none;
	padding-left: 0 !important;
	color: #484848;
}

#contenant span.message_icone_attention {
	background: none;
	padding-left: 0px;
	padding-right: 5px;
	color: #ff443b;
	font-size: 12px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#contenant .bouton {
	background: none;
	background-color: #484848;
	padding: 3px 10px;
	width: auto;
}

#contenant .bouton:hover {
	background-color: #333;
}

#contenant .bouton span {
	background: none;
	line-height: 32px;
	color: white;
	font-size: 16px;
}

#contenant span.message_icone_attention::before {
	font-size: 18px;
	color: #ff443b;
	content: "\f06a";
	font-family: 'FontAwesome';
	font-weight: 400;
	position: relative;
	top: 2px;
	margin-right: 5px;
}

#contenant h2 {
	text-transform: uppercase;
	color: #484848;
	margin-top: 0px;
	margin-bottom: 30px;
}

#contenant .saisieFocus {
	box-shadow: none;
}

.formList label.username, .formList label.password {
	display: none;
}

#contenant li.stayConnected {
	display: inline-block;
}

#contenant li.stayConnected label {
	width: inherit;
	float: none;
	padding-left: 4px;
}

#contenant input[type=checkbox] {
	float: left;
}

#contenant input[name=codeUtilisateur] {
	margin-top: 10px;
}

#contenant input[name=j_username], #contenant input[name=j_password],
	#contenant input[name=codeUtilisateur], #contenant input[name=nouveauMotPasse],
	#contenant input[name=confirmerMotPasse] {
	font-size: 16px;
	box-sizing: border-box;
	padding: 10px 15px;
	width: 100%;
	background-color: #f8f8f8;
	border: none;
	max-width: 500px;
}

#contenant .chkbox {
	float: left;
	width: 20px;
}

#contenant .chkbox::before {
	font-size: 20px;
	font-family: 'FontAwesome';
}

#contenant .chkbox.checked::before {
	content: "\f046";
}

#contenant .chkbox.unchecked::before {
	content: "\f096";
}

#contenant .wrapper {
	padding-top: 10px;
}

.forgetPassword {
	margin-top: 10px;
	width: 200px !important;
	margin-top: 5px !important;
	float: right;
	text-align: right;
	height: 20px;
}

.forgetPassword a {
	text-decoration: none;
	font-size: 12px;
}

.forgetPassword a:hover {
	color: #333;
}

#logo_general>a {
	content: '';
}

.password .changePassword {
	text-decoration: none;
}

.password .changePassword::before {
	font-family: 'FontAwesome';
	font-size: 18px;
	content: "\f023";
	margin-right: 10px;
	position: relative;
	top: 1px;
}

.closeSession {
	cursor: pointer;
}

.closeSession a {
	text-decoration: none;
}

.closeSession a:hover {
	color: #1E79AF !important;
}

.closeSession a:hover::before {
	content: url('../images/sunmedia/logoutminiblue.png');
}

.closeSession a::before {
	/*font-family:'FontAwesome';
	font-size:12px;
	content:'\f177';
	margin-right:10px;*/
	content: url('../images/sunmedia/logoutmini.png');
	margin-right: 8px;
	position: relative;
	top: 3px;
}

.closeSession {
	position: absolute;
	right: 15px;
	top: 15px;
}

#fermerSession {
	position: static;
	background: none;
	color: white;
}

.listeServices {
	padding: 0px;
	padding-left: 10px;
	padding-bottom: 5px;
	list-style: none !important;
}

.listeServices li {
	padding: 0px;
}

.listeServices li a {
	color: #484848;
	text-decoration: none;
	width: 100%;
	height: 100%;
	font-size: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.listeServices li a:hover {
	color: #1E79AF !important;
}

.listeServices li a::before {
	font-family: 'FontAwesome';
	content: "\f105";
	font-size: 17px;
	margin-right: 18px;
	color: #aaa;
}

#bas {
	margin: 0;
}

@media ( max-width :767px) {
	#contenant #corps {
		margin: 80px auto;
	}
	#contenant li.stayConnected label {
		font-size: 12px;
	}
	#contenant .chkbox::before {
		font-size: 14px;
	}
	#contenant .chkbox {
		width: 17px;
	}
	#contenant li.stayConnected label {
		padding-top: 0;
	}
	.forgetPassword {
		margin-top: 3px !important;
	}
	#contenant li.stayConnected label {
		padding-left: 0px;
	}
}

@media ( max-width :650px) {
	#forgetPasswordForm h2, #changePasswordForm h2 {
		font-size: 15px;
	}
	#background.home .closeSession, #background.forget-password .closeSession
		{
		background: url('../images/sunmedia/logout.png') no-repeat;
		width: 32px;
		height: 32px;
	}
	#background.home .closeSession:hover, #background.forget-password .closeSession:hover
		{
		background: url('../images/sunmedia/logoutblue.png') no-repeat;
	}
	#background.home .closeSession #fermerSession, #background.forget-password .closeSession #fermerSession
		{
		display: none;
	}
	#zone_utilisateur {
		text-align: left;
		color: #484848 !important;
		padding: 0px;
		background: none !important;
		top: 0px;
		left: 0px;
		padding-top: 76px !important;
		height: inherit;
	}
	#zone_utilisateur p.utilisateur {
		padding: 0px;
		padding-left: 10px;
		padding-bottom: 0px !important;
		position: relative;
	}
	.listeLangue {
		top: 70px;
		right: 10px;
	}
	#bouton_accueil a img {
		width: 42%;
	}
	#background.login #bouton_accueil a {
		margin: auto;
		text-align: center;
	}
	#bouton_accueil {
		padding-left: 0;
	}
	#bouton_accueil a {
		height: auto;
		margin-left: 10px;
	}
	#logo_general {
		height: auto;
		padding: 5px 0;
	}
	#bas .logo {
		left: 50%;
		margin-left: -37px;
		position: relative;
		top: 15px;
	}
	#innerFooterBox {
		overflow: visible;
		height: 105px;
		position: relative;
	}
	#bas p {
		position: relative;
		text-align: center !important;
		top: 20px;
		left: inherit;
		right: inherit !important;
		padding-top: 5px;
	}
}

@media ( max-width :500px) {
	#contenant input[name=nouveauMotPasse], #contenant input[name=confirmerMotPasse]
		{
		font-size: 14px !important;
	}
	#contenant li.stayConnected label {
		font-size: 12px;
	}
	#contenant .chkbox::before {
		font-size: 15px;
	}
	#contenant li.stayConnected label {
		padding-top: 0;
	}
	.forgetPassword {
		float: none;
		text-align: left;
		margin-top: 0 !important;
	}
	#contenant #corps {
		width: 95%;
		margin: 50px auto;
		padding: 10px;
	}
	#background.home #contenant #corps {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	#background.home #contenant #corps .title-services {
		font-size: 15px;
	}
	#background.home #contenant #corps .listeServices {
		padding-left: 0px;
	}
	#background.home #contenant #corps .listeServices li a::before {
		margin-right: 10px;
		font-size: 12px;
	}
}

@media ( max-width :350px) {
	#bouton_accueil {
		padding-left: 5px;
	}
	#bouton_accueil a {
		width: 250px;
	}
	.listeLangue {
		top: 62px;
		right: 3px;
	}
	#zone_utilisateur {
		padding-top: 70px !important;
	}
}