// Les styles specifiques a une organisation.

#zone_utilisateur
{
	background-image:none !important;
	background:#616161 !important;
	height: 70px;
}

#zone_utilisateur{color:#fff !important;}
#zone_utilisateur ul a{background-color:#333 !important; border:none !important;}

legend{color:#333 !important;}

#sous_onglet {
    background-image: none;
}

#sous_onglet li.sous_onglet_courant a {
    text-decoration: underline;
}

.ui-widget { font-family: Verdana, Arial, Helvetica, sans-serif;/*{ffDefault}*/; font-size: 1em/*{fsDefault}*/; }

.placeholder {
  color: #aaa;
}

::-webkit-input-placeholder
{
  color: aaa;
}

@import url("sofi.css");

html { 
  padding:0;
  margin:0;
  overflow-y: scroll;
  background-color: transparent;
}

html {overflow:-moz-scrollbars-vertical;}

body {
  background-color:#CBCBCB;
  margin:0;
  padding:0;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#666666;
}

#background {
  margin: 0 auto;
  padding:0;
  min-height: 100%;
  height: 100%;
  text-align:center;
}

#contenant {
  width:975px;
  position: relative;
  min-height: 98%;
  height: 100%;
  margin: 0 auto;
  padding:0;
  text-align:left;
  background-color:#FFFFFF;
  border:1px solid #FFFFFF;
}

html>body #contenant {
  height: auto;
}

.clear {
  clear:both;
}

.left {
  float:left; 
}

.right {
  float:right;
}

.invoiceDetailTotal {
  float:right;
  text-align: right;
  font-size: 1em;
  color: #097AC0;
}


img {
  border:0;
}

form, select, input, textarea {
  margin:0;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  
}


/***************************************************************/
/* Haut de la page */
/***************************************************************/

#logo_general {
  background-image:url(../images/sunmedia/header-quebecormedia-fr.jpg);
  background-repeat: no-repeat;
  height:110px; display:block;
  width:100%;
  margin-top:-10px;
  position:relative;
}

#logo {
  background: url('../images/sofi/logo-sofi-139x67.png') no-repeat;
  display:block;
  position:absolute;
  left:30px; top:30px;
  height:67px;
  width:139px;
  text-indent:-9999px;
}

#bouton_accueil{
  position:relative;
  float:left;
  padding-top:30px;
  padding-left:10px;
}
#bouton_accueil a{
  width:200px;
  height:80px;
  display:block;
}

#fermerSession{
  color:#FFFFFF;
  font-weight:bold;
  background: url(../images/sofi/btn_quitter.gif) left center no-repeat;
  padding-left:18px;
  position:absolute;
  right:16px;
  top:15px;
  padding-bottom:1px;
}

#zone_utilisateur{
  width: 243px;
  width:21.8em;
  position:absolute;
  bottom:0;
  right: 14px;
  background-image:none !important;
  background:#616161 !important;
  color: #99ccff;
}

#zone_utilisateur p.utilisateur{
  margin:0; padding:10px;
  height: 45px;
  font-size:1em;
}

#zone_utilisateur p.utilisateur span{
  display:block;
  font-size:1.2em;
  font-weight:bold;
}

#zone_utilisateur ul{
  margin:0; padding:0; list-style:none;
  padding: 0 0 4px 11px;
  float: right;
}

#zone_utilisateur li{
  margin:0; padding:0; list-style:none;
  display:inline;
}
#zone_utilisateur li a{
  display:block;
  float:left;
  padding: 2px 4px 3px; padding-left:15px; margin-right: 6px;
  text-decoration:none;
  background: #00285b 5px center no-repeat;;
  color: #d9dfe7;
  border:1px solid #00285b;
}
#zone_utilisateur li a:hover{
  border-color:#0069a7;
}

#zone_utilisateur li.btn_nbUtilisateur a {
  margin-top: 1px;
}

#zone_utilisateur li.btn_profil a{
  background-image:url(../images/sofi/icone_profil.gif)
}

#zone_utilisateur li.btn_aide a{
  background-image:url(../images/sofi/icone_aideenligne.gif);
}

#zone_utilisateur li.btn_nbUtilisateur a{
  background-image:url(../images/sofi/icone_nb_utilisateur.gif);
  padding: 2px 4px 3px; padding-left:25px; margin-right: 6px;  
}

table.tableresultat th.sorted {
    background-color: #333333;
}

#zonemenu{
  width:100%;
  height: 30px;
}

.listeLangue {
  Position :absolute;
  margin:0;
  padding:0;
  right:15px;
  top:105px;
  z-index: 1000;
}
.listeLangue label {
  white-space:nowrap;
  color:white;
  display: inline;
}

#zone_fond_navigation {
    background: url("../images/sunmedia/bg-navigationlist.png") repeat-x scroll left top #979fa8;
    margin: 0;
    padding: 16px 0 0;
}


#enteteonglet a {
  float:left;
  background:none;
  margin:0;
  padding:0 0 0 9px;
  text-decoration:none;
  color:#FFFFFF;
  padding:0.45em 10px;
  margin-right:7px;
  border: 1px solid #10437a;
  background:url( ../images/sunmedia/bg-tab-normal.png) top left repeat-x #32455e;
}

.dhtmlgoodies_window .dhtmlgoodies_window_top {
  background-color: #616161 !important;
}

.dhtmlgoodies_window .top_buttons {
  background-color: #616161 !important;  
}

html>body .dhtmlgoodies_window .top_buttons {
  background-color: #616161 !important;      
}

.dhtmlgoodies_windowMiddle {
  border-left:3px solid #616161 !important;
}

.dhtmlgoodies_windowContent {
  border-right:3px solid #616161 !important;
}

.dhtmlgoodies_window_bottom {
  border-left: 3px solid #616161 !important;
  border-right:3px solid #616161 !important;
  border-bottom: 3px solid #616161 !important;
}

table.tableresultat th {
   background-color: #476582;
}

/***************************************************************/
/* Bas de la page */
/***************************************************************/

#bas {
  margin-top:-1px;
  width: auto;
}


#corps{
  position:relative;
  margin:0;
  padding:0 10px 10px;
  width: auto;
}


/***************************************************************/
/* Bas de la page */
/***************************************************************/

#bas {
  margin-top:-1px;
  width: auto;
}


/* Footer */

#bas {
  clear:both;
  margin:40px auto 0;
}
#innerFooterBox {
  background: url('../images/sofi/footer.jpg') no-repeat;
  margin:0 auto;
  height: 60px;
  width:100%;
  position:relative;
}
#bas .logo {
  background: url('../images/sofi/logo-sofi-77x43.png') no-repeat;
  display:block;
  position:absolute;
  left:29px; top:12px;
  height:43px;
  width:77px;
  text-indent:-9999px;
  position:relative;
}
#bas p {
  color:#cccccc;
  margin:0;
  line-height:1;
  position:absolute;
  left:116px; bottom:16px;
}

.localeChoice {
  text-align: left;
  margin-top: 7px;
  margin-bottom:-5px;
  padding-left : 280px;
}

